<header class="row fluid middle-xs">
	<div class="col-xs-12 nested">
		<div class="row middle-xs">
			<div class="col">
				<h1>
					<strong>{{ site.title }}</strong>
					<small>{{ site.description }}</small>
				</h1>
			</div>
			<a href="https://github.com/BillyBlaze/efficient-grid/archive/master.zip" class="col shrink-xs"><i class="material-icons">file_download</i></a>
			<a href="https://github.com/BillyBlaze/efficient-grid" class="col shrink-xs">{% include github.html %}</a>
		</div>
	</div>
</header>
