html {
	font-size: 3px;
}
body {
	overflow-x: hidden;
	font-size: 22px;
}
.hidden {
	display: none;
}
h1,h2,h3,h4,h5,h6,p {
	font-family: 'Roboto', sans-serif;
	margin: 0 15px 10px;
}
p {
	margin-bottom: 25px;
	font-size: 18px;
}
h3, h4 {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin: 0;
}
h3 {
	font-size: 18px;
	text-align: left;
}
header {
	background: $main-color;
	min-height: 180px;
	margin-bottom: 60px;

	h1 {
		color: white;
		margin: 0;
	}

	.col-xs-12 {
		padding: 0 10rem;
		max-width: 992px;
		margin: 0 auto;
	}
}

footer {
	background: #350000;
	min-height: 130px;

	.col-xs-12 {
		padding: 0 10rem;
		max-width: 992px;
		margin: 0 auto;
	}

	ul, p, a {
		color: white;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
		font-weight: 400;
	}
	ul, p {
		margin: 0 15px;
	}
	ul {
		overflow: hidden;
	}
	ul li {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	a {
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}
	p {
		color: #A29D9D;
	}
}

.page-content {
	.wrapper {
		padding: 0 10rem;
		margin: 0 auto;
		max-width: 992px;
	}
}
.home {
	&.small-gaps {
		> .row {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 60px;
			}
		}
	}
	div.vertical {
		padding: 2rem;

		div div.darker {
			margin: 0 !important;
		}
	}
	.large {
		min-height: 80px !important;
	}
	> .row {
		margin-bottom: 60px;

		&.no-margin {
			margin-bottom: 0;
		}
	}
	> .row > div {
		box-sizing: border-box;
		position: relative;
	}
	> .row > div > div {
		background: $main-color;
		min-height: 30px;
	}
	> .row > div div.dark {
		background: darken($main-color, 5%);
		margin: 10px 0 !important;
		min-height: 5px;
	}
	> .row > div div.darker {
		background: darken($main-color, 15%);
		margin: 10px 0 !important;
		min-height: 20px;
	}
}
